.bottom-navigation-container {
    height: 90px;
    width: 100%;
    background-color: #192C38;
    padding: 24px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: 'fixed';
    bottom: 0;
    border-top: 1px solid #98A2B3;
}


.bottom-navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 25%;
}

.bottom-navigation-item:active {
    transform: scale(0.75); 
}

.bottom-navigation-label {
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: capitalize;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bottom-navigation-item svg {
    stroke: white !important;
}

.selected-menu .bottom-navigation-label {
    font-weight: 600 !important;
    color: #ECA400 !important;
  
}

.selected-menu svg {
    stroke: #ECA400 !important;
}