.stake-container {
  width: 100%;
  padding: 24px;
}

.stake-container .asset-table-contianer {
  background: radial-gradient(
    130.03% 113.99% at 57.71% 113.99%,
    rgba(128, 122, 105, 0.72) 0%,
    rgba(62, 58, 33, 0.6624) 100%
  );
}
