.asset-table-contianer {
  width: 100%;
  border-radius: 16px;
  background: radial-gradient(130.03% 113.99% at 57.71% 113.99%, rgba(128, 122, 105, 0.72) 0%, rgba(62, 58, 33, 0.6624) 100%)
}

.asset-table-header-section {
  width: 100%;
  display: flex;
}


.asset-table-header-section .asset-title {
  width: 50%;
  padding: 12px 0px 24px 24px;  
}

.asset-table-header-section .asset-title p {
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

}

.asset-table-header-section .loka-apr {
  width: 50%;
  display: flex;
  justify-content: center;
}

.asset-table-header-section .loka-apr p {
  margin: 0px;
  font-size: 12px; 
  font-weight: 700;
}

.asset-table-header-section .loka-apr .apr-background {
  width: 70%;
  height: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-apr {
  color: #66C61C;
}



.asset-table-item-list .asset-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 24px;
}


.asset-table-item-list .asset-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}