.history-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.history-container p {
    color: #ECA400 !important;
    font-size: 12px;
    font-weight: 500;
}

