.blocked-screen-container {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    margin-top: 35%;
    background: radial-gradient(91.43% 315.27% at 85.71% 22.5%, rgba(204, 147, 1, 0.50) 0%, rgba(50, 50, 50, 0.598) 100%)
}