.swap-assets-container {
    width: 100%;
}



.swap-type-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 8px;

}

.swap-section {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}

.swap-section .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swap-section .top .swap-amount {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}



.swap-section .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.swap-section .bottom p {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 0px;
}

.swap-amoun-select .ant-select-selector {
    background-color: #0000004D !important;
    border: none !important;
    color: white !important;
    border-radius: 25px;
    height: 40px !important;
   
}

.swap-amoun-select.ant-select-open {
    color: white !important;
   
}

.swap-amoun-select.ant-select-single {
    height: 40px !important;
}

.swap-amoun-select.ant-select-single .ant-select-selector {
    padding: 10px 18px !important;
}


.swap-amoun-select .ant-select-arrow {
    color: white !important;
}


.ant-select-dropdown {
    background-color: #0000003D !important;
}

/* .swap-drop-down {
    background-color: #0000004D !important;
} */

.ant-select-item-option-selected {
   background-color: rgba(255, 255, 255, 0.6) !important;
}


